:root {
    --background-color: #121212;
    --text-color: #f5f6f7;
    --accent-color: #198eee;
    --warning-color: #ffadad;
    --error-color: #a94442;
    --button-gradient-start: #fecc4c;
    --button-gradient-end: #ffac33;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 30px auto;
}

h2 {
    margin-bottom: 15px;
}

form {
    width: 100%;
    text-align: center;
    padding: 15px;
}

fieldset {
    border: 0 none;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

fieldset div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bracket,
.comma {
    font-size: 2.3em;
}

form .comma {
    margin-left: 2px;
}

select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 38px;
    width: 50px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--accent-color);
}

button {
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    background-image: linear-gradient(#0e467c, #081d36); 
    border: 3px solid var(--accent-color);
    padding: 10px 16px;
    font-size: 23px;
    width: 100%;
    color: #ffffff;
}

select:focus-visible,
button:focus-visible {
    outline: 3px solid var(--accent-color);
}

.output-container {
    width: 95%;
    min-height: 55px;
    margin-top: 25px;
    border-radius: 0;
    padding: 15px;
    overflow-wrap: break-word;
    text-align: center;
    background-color: #1e1e1e;
    border: 1px solid var(--accent-color);
}

.output-array {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.output-value {
    font-size: 2em;
}

.alert {
    background-color: var(--warning-color);
    border: 3px solid var(--error-color);
    color: var(--error-color);
}

@media (min-width: 550px) {
    form,
    .output-container {
        max-width: 480px;
    }

    fieldset {
        max-width: 400px;
    }

    .output-array {
        max-width: 420px;
    }
}
